services:
  postgres-db:
    image: postgres:16-alpine
    container_name: phone_shop_db
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=adminpass
      - POSTGRES_DB=phonedb
    ports:
      - "5436:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  frontend:
    build: ./frontend
    container_name: phone_shop_frontend
    ports:
      - "3010:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - WATCHPACK_POLLING=true

volumes:
  postgres_data:
